/* CSS Document */
/* TEXTOS ----------------------------------------------------------------*/
body {
	font-family: 'Domine', serif;
	line-height: normal;
	font-size: 13px;
	overflow: scroll;/*
	font-family: 'Domine', serif;
	font-family: 'Della Respira', serif;
	*/
}
img {
	max-width: 100%;
	/*height: auto;*/
	width: auto; /* for ie9 */
	color: #0065B3;
}
.img_adj {
	height: auto;
}
a:focus {
	outline: 1px dotted invert;
}
a {
	color: #09C;
}
hr {
	border-color: #ccc;
	border-style: solid;
	border-width: 1px 0 0;
	clear: both;
	height: 0;
}
/* =Headings
--------------------------------------------------------------------------------*/
h1 {
	font-size: 32px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 12px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Della Respira', serif;
	color: #000;
	margin: 0px;
	padding: 0px;/*text-shadow:2px 2px 2px #000;
	filter:dropshadow(color=#000, offx=2, offy=2);*/
}
h1, h2, h3 {
	text-transform: uppercase;
}
h4, h5, h6 {
	border-bottom: 1px solid #000;
	margin-bottom: 5px;
}
/* =ESTRUCTURA PRINCIPAL
--------------------------------------------------------------------------------*/
#wrapper {
	margin: 0 auto;
}
header {
	margin: 0px auto;
	padding: 0px;
	width: 100%;
	overflow: auto;
	clear: both;
	margin-bottom: 5px;
}
#headcont {
	margin: 0px auto;
	padding: 0px;
	overflow: auto;
	clear: both;
}
#contenido {
	margin: 0px auto;
	padding: 0px;
	width: 94%;
	overflow: auto;
	clear: both;
	margin-bottom: 5px;
}
#maincont {
	margin: 0px auto;
	padding: 0px;
	overflow: auto;
	clear: both;
}
#addscontent {
}
footer {
	margin: 0px auto;
	padding: 0px;
	width: 100%;
	overflow: auto;
	clear: both;
}
.img_izquierda {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.img_derecha {
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
}

.colcont {
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #FFF;
}


/* MEDIA QUERIES ----------------------------------------------------------------*/
/* Large desktop */
@media (min-width: 1281px) {
header {
	width: 100%;
}
#contenido {
	width: 100%;
}
footer {
	width: 100%;
}
#maincont {
	width: 70%;
}
#headcont {
	width: 70%;
}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1280px) {
header {
	width: 100%;
}
#contenido {
	width: 100%;
}
footer {
	width: 100%;
}
#maincont {
	width: 80%;
}
#headcont {
	width: 80%;
}
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
header {
	width: 100%;
}
#contenido {
	width: 100%;
}
footer {
	width: 100%;
}
#maincont {
	width: 98%;
}
#headcont {
	width: 98%;
}
div#maplink {
	display: none;
}
}
/* Landscape phones and down */
@media (max-width: 480px) {
header {
	width: 100%;
}
#contenido {
	width: 100%;
}
footer {
	width: 100%;
}
#maincont {
	width: 98%;
}
#headcont {
	width: 98%;
}
div#maplink {
	display: none;
}
}
